@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    font-family: "Poppins", sans-serif !important;

}



@keyframes __slideInLeft {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}



@keyframes __slideInRight {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}



.logos {
    overflow: hidden;
    background: white;
    white-space: nowrap;
    position: relative;
}

.logos:before,
.logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
}

.logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}



.scroll-left {
    display: flex;
    animation: 240s __slideInLeft infinite linear;
}
.scroll-right {
    display: flex;
    justify-content: end;
    animation: 240s __slideInRight infinite linear;
}

.logos-slide div {
    height: 50px;
    margin: 0 40px;
}


.bg-description {
    position: relative;
    overflow: hidden;
}
.bg-description::before {
    content: "" !important;
    position: absolute !important;
    top: 0 !important;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/assets/description_img.png"); /* The URL will be set via React */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(100%);
    opacity: 0.1; /* 10% opacity */
    z-index: -1; /* Ensure it stays behind the content */
}